{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user.id == entreprise.id %}
            <div class="container mx-auto d-block">
                <img src="/images/logos/{{ entreprise.logo }}" alt="" class="img-fluid mx-auto d-block mt-2" id="logo">
                <h2 class="text-center mb-5">{{ app.user.intitule }}</h2>
                <input class="idEntreprise" type="hidden" value="{{ path('entreprise_chart', {'id': app.user.id}) }}">
                <div class="row">
                    <div class="col-md-6 mt-5 mb-5">
                        <div class="card bg-dark text-white">
                            <div class="card-header">
                                <h3 class="text-center">
                                    Accès rapide
                                </h3>
                            </div>
                            <div class="card-body mx-auto d-block p-5">
                                <div class="row">
                                    <div class="col-md-12 mx-auto d-block p-5">
                                        <a href="{{ path('client_add') }}" class="btn btn-warning mb-2 mr-3">Nouveau
                                            client</a>
                                        <a href="{{ path('client') }}" class="btn btn-warning mb-2">Liste des
                                            clients</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer mx-auto d-block">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-5">
                        <div id="columnchart_material" style="width: 500px; height: 350px;"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dashboardChart.js') }}"></script>
    <script src="{{ asset('js/dashboardCount.js') }}"></script>
{% endblock %}