{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="container mx-auto d-block">
            <img src="/images/logos/{{ entreprise.logo }}" alt="" class="img-fluid mx-auto d-block mt-2" id="logo">
            <h2 class="text-center mb-5">{{ app.user.intitule }}</h2>
            <input class="idEntreprise" type="hidden" value="{{ path('entreprise_chart', {'id': app.user.id}) }}">
            <div class="row">
                <div class="col-md-6 mt-5 mb-5">
                    <div id="clients" style="width: 500px; height: 350px;"></div>
                </div>
                <div class="col-md-6 mt-5">
                    <div id="chiffres" style="width: 500px; height: 350px;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dashboardChartCa.js') }}"></script>
    <script src="{{ asset('js/dashboardCount.js') }}"></script>
{% endblock %}