{% extends 'base.html.twig' %}

{% block title %}Modifier un devis{% endblock %}

{% form_theme form 'partials/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Modifier le devis de
            {{ devis.facture.client.nom }}
            {{ devis.facture.client.prenom }}
        </h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success mb-5">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{#{% block _devis_description_widget %}
    <p>Ajoutez ou supprimez une description</p>
    {{ form_widget(form) }}

{% endblock %}#}

{% block javascripts %}
    <script src="{{ asset('js/addPrestation.js') }}"></script>
    <script src="{{ asset('js/calculDevisEdit.js') }}"></script>
    <script src="{{ asset('js/calculDevisAdd.js') }}"></script>

{% endblock %}